*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Blinker', sans-serif;
}
body{
  background-color: black;
  color: aliceblue;
}
ul{
  list-style: none;
}
a{
  text-decoration: none;
  color: aliceblue;
}
p{
  color: #a9abb3;
}